.sec {
    background-size: cover;
    padding-top: 160px;
    background-image: url(./about.jpg);
    height: 970px;
}

.title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 600;
    color: #0c6bc5;
}

.father {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box {
    width: 49%;
}

.box_two {
    border-radius: 16px;
    height: 525px;
    overflow: hidden;
    width: 49%;
}

.text {
    margin-bottom: 32px;
    opacity: .7;
    font-size: 20px;
    color: #11385c;
}

.img {
    width: 100%;
}

#btn {
    background-color: #0c6bc5;
    width: 228px;
    height: 56px;
    border-radius: 48px;
}

.btn_text {
    color: white;
    font-size: 20px;
}