.anim {
    position: relative;
    height: 560px;
    width: 550px;
}

.father {
    position: relative;
    width: 100%;
}

.one:first-child {
    width: 100%;
    position: absolute;
    animation-name: one;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes one {
    0% {
        z-index: 10;
    }
    33% {
        z-index: 0;
    }
    66% {
        z-index: 0;
    }
    100% {
        z-index: 10;
    }
}

.one:nth-child(2) {
    width: 100%;
    position: absolute;
    animation-name: two;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes two {
    0% {
        z-index: 0;
    }
    33% {
        z-index: 10;
    }
    66% {
        z-index: 0;
    }
    100% {
        z-index: 0;
    }
}

.one:nth-child(3) {
    width: 100%;
    position: absolute;
    animation-name: three;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes three {
    0% {
        z-index: 0;
    }
    33% {
        z-index: 0;
    }
    66% {
        z-index: 10;
    }
    100% {
        z-index: 0;
    }
}

.box {
    top: 0;
    position: absolute;
    width: 100%;
    padding: 30px;
    background-color: white;
    animation-name: box;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes box {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0);
    }
}

.boxtwo {
    height: 490px;
    opacity: .8;
    top: 0;
    position: absolute;
    width: 100%;
    padding: 30px;
    background-color: white;
    animation-name: boxtwo;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes boxtwo {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(12deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(-12deg);
    }
    100% {
        transform: rotate(0);
    }
}

.boxthree {
    height: 490px;
    opacity: .8;
    top: 0;
    position: absolute;
    width: 100%;
    padding: 30px;
    background-color: white;
    animation-name: boxthree;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes boxthree {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-12deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(12deg);
    }
    100% {
        transform: rotate(0);
    }
}

.img {
    width: 100%;
    overflow: hidden;
    height: 315px;
    margin-bottom: 30px;
}

.title {
    font-weight: 700;
    font-size: 26px;
}

.text {
    font-weight: 700;
    font-size: 20px;
    color: #0c6bc5;
}